@{
    ViewBag.Title = "Downloads";
}
<h2>@ViewBag.Title.</h2>
<h2>Downloads</h2>
<br />
<br />


1. Aby pobrać projekt, naciśnij link znajdujący się poniżej 
<br />
<a href="~/Pliki/ChatWithSignalR.zip" download>Pobierz projekt</a>